:root{
    --secColor: #fff;
    --primColor: #6060ff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--primColor);
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.header img{
    height: 70px;
}

.todo-main {
    height: 100vh;
    width: 100%;
    background: var(--primColor);
    padding: 50px 300px;
    transition: .3s;
}

#add-new-todo{
    transition: .05s;
}

.add-new-todo{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    margin: 15px 0px;
    display: flex;
    align-items: stretch;
    margin-bottom: 50px;
}

.add-new-todo .add-task-text {
    padding: 15px;
    flex: 1;
}

.add-task-done{
    min-height: 100%;
    border-radius: 0px 10px 10px 0px;
    width: 15%;
    border: 0;
    font-size: 20px;
    font-weight: bolder;
    transition: .3s;
    padding: 10px;
}

.add-task-done:hover{
    background: rgb(9, 255, 9);
    cursor: pointer;
}

.add-task-text {
  display: flex;
  justify-content: space-between;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.add-task-text:focus {
    color: none;
}

.added-new-todo{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    margin: 15px 0px;
    display: flex;
    align-items: stretch;
}

.added-task-done{
    min-height: 100%;
    border-radius: 0px 10px 10px 0px;
    min-width: 15%;
    border: 0;
    font-size: 20px;
    font-weight: bolder;
    transition: .3s;
    padding: 10px;
}

.added-task-done:hover{
    background: rgb(9, 255, 9);
    cursor: pointer;
}

.saved-task-text {
    display: flex;
    justify-content: space-between;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    min-width: 85%;
}

@media (max-width:1521px) {
    .todo-main{
       padding: 100px 200px;
    }
}
@media (max-width:1150px) {
    .todo-main{
       padding: 100px 100px;
    }
}
@media (max-width:770px) {
    .todo-main{
       padding: 100px 30px;
    }
}