:root{
    --secColor: #fff;
    --primColor: #6060ff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--primColor);
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.header img{
    height: 70px;
}

.todo-main {
    max-width: 689px;
    height: 100vh;
    width: 100%;
    background: var(--primColor);
    padding: 100px 0px;
    transition: .3s;
}

@media (max-width:770px) {
    .todo-main{
       padding: 100px 30px;
    }
}



#add-new-todo{
    transition: .05s;
}

.add-new-todo{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    margin: 15px 0px;
    display: flex;
    align-items: stretch;
    margin-bottom: 50px;
}

.add-new-todo .add-task-text {
    padding: 15px;
    flex: 1;
}

.add-task-done{
    min-height: 100%;
    border-radius: 0px 10px 10px 0px;
    width: 101px;
    border: 0;
    font-size: 20px;
    font-weight: bolder;
    transition: .3s;
    padding: 10px;
}

.add-task-done:hover{
    background: rgb(9, 255, 9);
    cursor: pointer;
}

.add-task-text {
  display: flex;
  justify-content: space-between;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.add-task-text:focus {
    color: none;
}

.added-new-todo{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    margin: 15px 0px;
    align-items: stretch;
}

.added-task-done{
    min-height: 100%;
    border-radius: 0px 10px 10px 0px;
    min-width: 15%;
    border: 0;
    font-size: 20px;
    font-weight: bolder;
    transition: .3s;
    padding: 10px;
}

.added-task-done:hover{
    background: rgb(255, 9, 9);
    cursor: pointer;
}

.saved-task-text {
    display: flex;
    justify-content: space-between;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    min-width: 75%;
    word-break: break-all;
}


.date-span{
    min-width: 10%;
    color: rgb(36, 36, 36);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#datetime{
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-left: 0.1px solid rgb(201, 201, 201);
    padding: 5px;
    display: flex;
    justify-content: center;
}

@media (max-width: 457px){
    #datetime{
        display: none;
    }
    .add-task-done{
        width: 101px;
    }
}

.logo h2{
    display: flex;
    justify-content: center;
    color: white;
}

.last-deleted{
    margin-top: 100px;
    margin-bottom: 30px;
}
.last-deleted h5{
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    user-select: none;
}

.last-deleted h5:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.last-deleted ul{
    display: none;
}

#openLastDeletedSpan{
    display: none;
}

#openCloseLastDeletedDiv{
    display: flex;
    padding-right: 5px;
}

#deleted-task{
    flex-direction: column;
}